<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Workout.Api.exe" stdoutLogEnabled="true" stdoutLogFile="C:\logs\Workout\stdout" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>